.float-right.m-8{style: 'font-size: 30px'}
  = link_to new_menu_item_path, "data-toggle": "tooltip", title: "Add menu item" do
    <i class="fas fa-plus"></i>
  =  link_to menu_items_path, "data-toggle": "tooltip", title: "List menu items" do
    <i class="fas fa-bars"></i>