- if size == 'small'
  <i class="fas fa-pizza-slice active-size" style="font-size: 20px"></i>
  <i class="fas fa-pizza-slice inactive-size" style="font-size: 25px"></i>
  <i class="fas fa-pizza-slice inactive-size" style="font-size: 30px"></i>
- elsif size == 'medium'
  <i class="fas fa-pizza-slice inactive-size" style="font-size: 20px"></i>
  <i class="fas fa-pizza-slice active-size" style="font-size: 25px"></i>
  <i class="fas fa-pizza-slice inactive-size" style="font-size: 30px"></i>
- elsif size == 'large'
  <i class="fas fa-pizza-slice inactive-size" style="font-size: 20px"></i>
  <i class="fas fa-pizza-slice inactive-size" style="font-size: 25px"></i>
  <i class="fas fa-pizza-slice active-size" style="font-size: 30px"></i>
- else
  <i class="fas fa-pizza-slice inactive-size" style="font-size: 20px"></i>
  <i class="fas fa-pizza-slice inactive-size" style="font-size: 25px"></i>
  <i class="fas fa-pizza-slice inactive-size" style="font-size: 30px"></i>