.jumbotron
  %h1.display-4 Welcome to Josh Pizzas
  %p.lead This is the Home page. Rohit uses this website for practicing.
  %hr.my-4
  %p Below is a list of functionality that is working
  %p.lead  
    = link_to "Pizza toppings", toppings_url, class: "btn btn-primary"
