%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Order | Josh Pizza
    = stylesheet_link_tag wicked_pdf_asset_base64 "application"
  %body
    .container
      = yield
